body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
  outline: none;
}
body h1,h2,h3,h4,h5,h6{
      font-family: 'Asap', sans-serif;
}


header {
  text-align: center;
  background: url("../asset/1.jpg") no-repeat 0px 0;
    background-size: cover;
  color: white;
  padding-bottom: 100px;
}

.navbar-custom {
  background: rgba(255, 255, 255, 0);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

.transparant-grid {
    margin: 4em 0 0 0;
    padding: 2em 1em;
    background:rgba(23, 20, 20, 0.58);
    padding-top: 50px;
    padding-bottom: 80px;
    border-radius: 5px;
}

/*.transparant-port {
  position: relative;
  background:rgba(23, 20, 20, 0.58);
  min-width: 200px;
  min-height: 200px;
}*/

.col-sm-7 h4 {
    color: #C7C7C7;
    margin-top: 0.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline;
}

div hr {
  margin-bottom: 5px;
}

ul.info {
  padding: 0;
}

ul.info-text {
  padding: 0;
}

ul.info li {
  display: block;
}

ul.info li ul.info-text li{
    display: inline-block;
    color: #fff;
    margin-top: 1em;
    font-size: 1.3em;
}

ul.info li ul.info-text li:nth-child(1){
  width: 20%;
}

section#about {
  padding-top: 2em;
  padding-bottom: 50px
}

section#about h1{
  letter-spacing: 2px;
}

section#portfolio {
  padding-top: 2em;

  padding-bottom: 50px
}

section#portfolio  {
  color: black;
  letter-spacing: 2px;
}

section#skills  {
  color: white;
  background: url("../asset/s2.jpg") no-repeat 0px 0;
  padding-top: 2em;
  background-size: cover;
  padding-top: 2em;
  letter-spacing: 2px;
}

section#skills h1{
  letter-spacing: 2px;
}

hr.thick-light {
  max-width: 230px;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
}

hr.thick-light + p {
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

hr.thick-dark {
  max-width: 230px;
  border-width: 3px;
  border-color: rgb(0, 0, 0);
}

hr.thick-dark + p {
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
}

.row + .row {
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
}

div img {
  margin-bottom: 2em;
}

path + text {
  color: black;
}
